{% extends 'template/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/admin_manage.css' %}">
{% endblock %}

{% block title %}Management Page{% endblock %}

{% block content %}
  {% include 'template/navbarplain.html' %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <script>
          alert("{{ message }}")
        </script>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="product-container">
    <h2 class="landingpage-subtitle">Your <span class="p-color">Product</span></h2>

    <div class="card-wrapper d-flex flex-row">
    {% for product in products %}
      <div class="product-card d-flex align-items-center">
        <img class="product-photo" src="{{ product.2 }}" alt="">
        <form class="detail-container" method="POST" action="{% url 'storeadmin:update' product.0 %}">
          {% csrf_token %}
          <div class="name-wrapper">{{ product.1.nama }}</div>
          <span class="stok-wrapper">Stok {{ product.1.stok }}</span>
          <span class="stok-wrapper">Harga {{ product.1.harga }}</span>
          <div class="text-area-wrapper">{{ product.1.deskripsi }}</div>

          <div class="button-wrapper">
            <a href="{% url 'storeadmin:delete' product.0%}" onclick="return confirm('Yakin mau hapus?')" class="delete-button"><u>Delete</u></a>
            <button class="btn btn-primary update-button" type="submit" onclick="return confirm('Yakin mau update?')">Update</button>
          </div>
        </form>
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="d-flex flex-row wrapper2">
    <div class="product-container center">
      <h2 class="landingpage-subtitle">Add New <span class="p-color">Product</span></h2>
      <div class="add-product-wrapper">
        <div class="add-product-wrapper">
          <form action="{% url 'storeadmin:add' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
              <tr>
                <td>Nama Produk :</td>
                <td>{{ form.nama }}</td>
              </tr>
              <tr>
                <td>Kategori :</td>
                <td>{{ form.kategori }}</td>
              </tr>
              <tr>
                <td>Stok :</td>
                <td>{{ form.stok }}</td>
              </tr>
              <tr>
                <td>Harga :</td>
                <td>{{ form.harga }}</td>
              </tr>
              <tr>
                <td>Deskripsi :</td>
                <td>{{ form.deskripsi }}</td>
              </tr>
              <tr>
                <td>Foto: </td>
                <td>{{ form.foto }}</td>
              </tr>
            </table>
            <div class="centering">
              <button class="btn btn-warning add-btn" type="submit">Add Product</button>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}