{% extends 'template/base.html' %}
{% block head %}
<script>
    function removeBarang(id){
    var button = this;
    $.ajax ({
      type: 'POST',
      url: '/hapus/' + id + '/',
      contentType: 'application/json',
      success: function(data) {
        if (data.status == 200) {
          alert('Berhasil menghapus dari cart')
          location.reload()
        } else {
          alert('Gagal menghapus dari cart')
        }
      }
    })
  }

  function kurangiBarang(id) {
      var button = this;
      $.ajax ({
          type: 'POST',
          url: '/kurangin/' + id + '/',
          contentType: 'application/json',
          success: function(data) {
              if (data.status == 200) {
                  location.reload()
              }
          }
      })
  }

function tambahBarang(id) {
      var button = this;
      $.ajax ({
          type: 'POST',
          url: '/tambahin/' + id + '/',
          contentType: 'application/json',
          success: function(data) {
              if (data.status == 200) {
                  location.reload()
              }
          }
      })
  }
</script>
{% endblock head %}
{% block title %}
Cart
{% endblock title %}
{% csrf_token %}
{% block content %}

{% include 'template/navbarwithsearch.html' %}

<div class='container'>
    <table class="table">
        <thead>
            <th>Barang</th>
            <th>Jumlah Barang</th>
            <th>Harga</th>
            <th>Update jumlah Barang</th>
            <th>Batalkan Pembelian</th>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>
                    Total : Rp {{ totalHarga }}
                </td>
            </tr>
        </tfoot>
        {% for item in itemList %}
             <tr>
                <td>{{ item.barang.nama }}</td>
                <td>{{item.jumlah}}</td>
                <td class="detailpage-product-harga">Rp {{ item.total_harga }}</td>
                <td>
                    <button onclick='kurangiBarang({{item.barang.id}})' id='kurangiBarang' class="btn"><i class="fas fa-minus"></i></button>
                    <button onclick='tambahBarang({{item.barang.id}})' id='tambahBarang' class="btn"><i class="fas fa-plus"></i></button>
                </td>
                <td><button onclick='removeBarang({{item.barang.id}})' id="removeFromCart" class="btn"><i class="fas fa-times"></i></button></td>
                <!--
                <td><button type="button" id="modalButton" data-toggle="modal" data-target="#removeBarangModal"><i class="fas fa-times"></i></button></td>
                -->
             </tr>
        {% endfor %}
    </table>
    <a href="/checkout" class="buyNowBtn btn btn-warning">Checkout</a>
</div>

<!-- Modal -->
<!--
<div class="modal fade" id="removeBarangModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Batalkan pembelian barang</h5>
                <a type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <p>Apakah kamu benar ingin membatalkan pembelian barang ini?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Batalkan pembelian</button>
            </div>
        </div>
    </div>
</div>
-->


{% endblock content %}