{% extends 'template/base.html' %}
{% load static %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
{% endblock %}
{% block content %}
{% include 'template/navbarplain.html' %}
<div class="checkout-section">
    <div class="checkout-section-order">
        <h4 class="checkout-subtitle">Your <span class="p-color">Order</span></h4>
        {% if barang %}
        <div class="checkout-item">
            <img src="{{ barang.link_foto }}" class="checkout-item-image">
            <div class="checkout-item-description">
                <div class="checkout-item-title">
                    {{barang.nama}}
                </div>
                <div class="checkout-item-price">Rp {{barang.harga}}</div>
            </div>
        </div>
        {% else %}
            {% for item in item_list %}
            <div class="checkout-item">
                <img src="{{ item.barang.link_foto }}" class="checkout-item-image">
                <div class="checkout-item-description">
                    <div class="checkout-item-title">
                        {{ item.barang.nama }}
                    </div>
                    <div class="checkout-item-price">Rp {{ item.barang.harga }}</div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <h4 class="checkout-subtitle"><span class="p-color">Order</span> Information</h4>
        <form action="{% url 'checkout:process' %}" method="post" id="checkoutForm">
            <input type="hidden" name="barang-id" value="{{barang.id}}">
            {% csrf_token %}
            <table>
                <tr>
                    <td><h3 class="checkout-form-label">Name:</h3></td>
                    <td><h4 class="p-color">{{ user.first_name }}</h4></td>
                </tr>
            </table>
            <input type="hidden" name="payment-method" value="" id="paymentMethod">
            <input type="hidden" name="coupon-id" value="" id="couponId">
        </form>
    </div>
    <div class="checkout-section-payment">
        <h4 class="checkout-subtitle">Select Payment <span class="p-color">Method</span></h4>
        <div class="payment-box">
            <div class="payment-selection" onclick="setPayment(1)">
                <img src="{% static 'bank-transfer.png' %}" class="payment-logo">
                <h3 class="payment-desc">Bank Transfer</h3>
            </div>
            <div class="payment-selection" onclick="setPayment(2)">
                <img src="{% static 'e-wallet.png' %}" class="payment-logo">
                <h3 class="payment-desc">E-Wallet</h3>
            </div>
            <div class="payment-selection" onclick="setPayment(3)">
                <img src="{% static 'credit-card.png' %}" class="payment-logo">
                <h3 class="payment-desc">Credit Card</h3>
            </div>
        </div>
        <h4 class="checkout-subtitle">Add <span class="p-color">Coupon</span></h4>
        <div class="checkout-coupon">
            <div class="coupon-remove-button" id="couponRemoveButton"><i class="fas fa-times"></i></div>
            <img src="{% static 'add-coupon.png' %}" id="addcoupon" class="checkout-coupon-add" data-toggle="modal" data-target="#couponModal">
            <h3 class="payment-desc"><span id="couponButtonText">Add Coupon</h3></span>
        </div>
        <small>* One coupon only can be applied at one time</small>
        <div class="bill-detail">
            <table class="bill-table">
                <tr>
                    <td>Order Total</td>
                    <td>Rp <span id="hargaBarang">{{total_harga}}</span></td>
                </tr>
                <tr>
                    <td>Coupon Discount</td>
                    <td>Rp <span id="diskonKupon">0</span></td>
                </tr>
                <tr>
                    <td><b>Total Payment</b></td>
                    <td><b>Rp <span id="totalPayment">{{total_harga}}</span></b></td>
                </tr>
            </table>
        </div>
        <div class="checkout-button" id="checkoutButton">
            <div class="checkout-button-logo">
                <img src="{% static 'checkout-button-logo.png' %}" class="checkout-button-img">
            </div>
            <div class="checkout-button-text">
                Checkout
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <h4 class="checkout-subtitle checkout-title-coupon">Select <span class="p-color">Coupon</span></h4>
            <br>
            Search coupon by :
            <div class="coupon-category-search-block">
                <div class="coupon-category-select" id="couponcode">
                    <img src="{% static 'coupon-code.png' %}" class="landingpage-category-icon" alt="">
                    Coupon Code
                </div>
                <div class="coupon-category-select" id="percent">
                    <img src="{% static 'percent.png' %}" class="landingpage-category-icon" alt="">
                    Discount Percent
                </div>
            </div>
            <div class="form-search">
                <input type="text" class="coupon-search-input" placeholder="Search coupon" name="q" id="couponQuery">
                <input type="submit" style="display:none">
                <img src="{% static 'search.png' %}" id="search" class="search-logo" onClick='searchCoupon("all")'>
            </div>
            <div id="coupon-container">
                {% for kupon_item in kupon %}
                    <div class="coupon-list coupon-modal coupon-list-mini" onclick= "useKupon({{kupon_item.id}},{{kupon_item.persen_diskon}})">
                        <img src="{{kupon_item.gambar}}" id="couponImg{{kupon_item.id}}" class="coupon-list-image"/>
                        <div class="coupon-list-description">
                            <div class="coupon-list-title">
                                <span id="couponNameId{{kupon_item.id}}">{{kupon_item.nama_kupon}}</span>
                            </div>
                            <div class="coupon-list-title">
                                <span class="p-color">{{kupon_item.jenis_kupon}}</span>
                            </div>
                            <div class="coupon-list-smalldesc">
                                <div class="coupon-desc">
                                    {{kupon_item.sk_singkat_kupon}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
  

<!-- Modal -->
<div class="modal fade" id="processingModal" tabindex="-1" role="dialog" aria-labelledby="processingModalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title mx-auto" id="processingModalTitle">Your transaction is being processed</h5>
    </div>
    <div class="modal-body" id="processingBody">
        <img src="{% static 'loading.gif' %}" class="m-auto modal-image" id="loaderGIF" alt="">
        <img src="{% static 'success.png' %}" class="m-auto modal-image" id="successIcon" alt="">
        <img src="{% static 'fail.png' %}" class="m-auto modal-image" id="failIcon" alt="">
    </div>
    <div class="modal-footer" id="processingFooter">

    </div>
    </div>
</div>
</div>

<script>
var paymentSelected = false;

function numberWithCommas(x) {
    return parseInt(x, 10).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
}

function useKupon(kuponid, persendiskon){
    document.getElementById('couponId').value = kuponid;
    var hargaBarang = document.getElementById('hargaBarang').innerHTML.replace(/\./g,'');
    var diskon = parseInt(hargaBarang*persendiskon/100, 10); 
    console.log(hargaBarang);
    console.log(diskon);
    console.log(diskon);
    document.getElementById('diskonKupon').innerHTML = numberWithCommas(diskon);
    document.getElementById('totalPayment').innerHTML = numberWithCommas(hargaBarang - diskon);

    $('#couponModal').modal('toggle');
    var img = document.getElementById('couponImg'+kuponid).getAttribute("src")
    $('#addcoupon').attr('src',img);
    $('#addcoupon').attr('data-target',"");
    $('#addcoupon').toggleClass('checkout-coupon-added');
    document.getElementById('couponButtonText').innerHTML= document.getElementById('couponNameId'+kuponid).innerHTML;
    document.getElementById('couponRemoveButton').style.display = 'inline-block'
}

document.getElementById('couponRemoveButton').addEventListener('click', function(){
    document.getElementById('couponButtonText').innerHTML = 'Add Coupon';
    document.getElementById('couponRemoveButton').style.display = 'none';
    document.getElementById('couponId').value = '';
    $('#addcoupon').attr('src',"{% static 'add-coupon.png' %}");
    $('#addcoupon').attr('data-target',"#couponModal");
    $('#addcoupon').removeClass('checkout-coupon-added');
    var hargaBarang = document.getElementById('hargaBarang').innerHTML;
    document.getElementById('diskonKupon').innerHTML = '0';
    document.getElementById('totalPayment').innerHTML = hargaBarang;
})

$('#couponcode').on('click', function(){
    if ($('#couponcode').hasClass('new-coupon-category')){
        $('#search').attr('onclick','searchCoupon("all")');
    } else {
        $('#search').attr('onclick','searchCoupon("code")');
    }
    $('#percent').addClass('coupon-category-select');
    $('#percent').removeClass('new-coupon-category');
    $('#couponcode').toggleClass('new-coupon-category');
});

$('#percent').on('click', function(){
    if ($('#percent').hasClass('new-coupon-category')){
        $('#search').attr('onclick','searchCoupon("all")');
    } else {
        $('#search').attr('onclick','searchCoupon("percent")');
    }
    $('#couponcode').addClass('coupon-category-select');
    $('#couponcode').removeClass('new-coupon-category');
    $('#percent').toggleClass('new-coupon-category');
});

var input = document.getElementById('couponQuery');

input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
    event.preventDefault();
    document.getElementById("search").click();
  }
});

function searchCoupon(category) {
    var query = $('#couponQuery').val();
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4) {
            if (this.status == 200) {
                var HTML;
                var data = JSON.parse(this.responseText);
                var datakupon = data['kupon'];
                if (category == "all"){
                    if (query != '') {
                        $('#coupon-container').html('');
                        var sum = 0;
                        for (var i = 0; i < datakupon.length; i++) { 
                            HTML = '';
                            var kupon_item = datakupon[i];
                            if ((document.getElementById('hargaBarang').innerHTML.replace('.','') >= kupon_item.harga_minimum) && (kupon_item.nama_kupon.toLowerCase().includes(query.toString().toLowerCase()) || kupon_item.jenis_kupon.toLowerCase().includes(query.toString().toLowerCase()))) {
                                HTML += '<div class="coupon-list coupon-modal coupon-list-mini" onclick= "useKupon(' + kupon_item.id + ',' + kupon_item.persen_diskon + ')">';
                                HTML += '<img src="'+ kupon_item.gambar +'" class="coupon-list-image"/>';
                                HTML += '<div class="coupon-list-description">';
                                HTML += '<div class="coupon-list-title"><span id="couponNameId' + kupon_item.id + '">'+ kupon_item.nama_kupon +'</span></div>';
                                HTML += '<div class="coupon-list-title"><span class="p-color">' + kupon_item.jenis_kupon + '</span></div>';
                                HTML += '<div class="coupon-list-smalldesc"><div class="coupon-desc">' + kupon_item.sk_singkat_kupon;
                                HTML += '</div></div></div></div>';    
                                sum += 1;
                            }
                            $('#coupon-container').append(HTML);
                        }
                        if (sum == 0){
                            HTML = '';
                            HTML += '<div class="coupon-not-found">Sorry, cannot find coupon with keyword <b>"'+ query +'"</b> by name or type. Please try another keyword.</div>';
                            $('#coupon-container').append(HTML);
                        }
                    }
                } else if (category == "percent"){
                    if (query != ''  && $.isNumeric(query)) {
                        $('#coupon-container').html('');
                        var sum = 0;
                        for (var i = 0; i < datakupon.length; i++) { 
                            HTML = '';
                            var kupon_item = datakupon[i];
                            if ((document.getElementById('hargaBarang').innerHTML.replace('.','') >= kupon_item.harga_minimum) && (kupon_item.persen_diskon >= query)) {
                                HTML += '<div class="coupon-list coupon-modal coupon-list-mini" onclick= "useKupon(' + kupon_item.id + ',' + kupon_item.persen_diskon + ')">';
                                HTML += '<img src="'+ kupon_item.gambar +'" class="coupon-list-image"/>';
                                HTML += '<div class="coupon-list-description">';
                                HTML += '<div class="coupon-list-title"><span id="couponNameId' + kupon_item.id + '">'+ kupon_item.nama_kupon +'</span></div>';
                                HTML += '<div class="coupon-list-title"><span class="p-color">' + kupon_item.jenis_kupon + '</span></div>';
                                HTML += '<div class="coupon-list-smalldesc"><div class="coupon-desc">' + kupon_item.sk_singkat_kupon;
                                HTML += '</div></div></div></div>';
                                sum += 1;
                            }
                            $('#coupon-container').append(HTML);
                        }
                        if (sum == 0){
                            HTML = '';
                            HTML += '<div class="coupon-not-found">Sorry, cannot find coupon for <b>"'+ query +'"</b> percent discount or higher. Please try another keyword.</div>';
                            $('#coupon-container').append(HTML);
                        }
                    } 
                } else if (category == "code"){
                    if (query != '') {
                        $('#coupon-container').html('');
                        var sum = 0;
                        for (var i = 0; i < datakupon.length; i++) {
                            HTML = '';
                            var kupon_item = datakupon[i];
                            if ((document.getElementById('hargaBarang').innerHTML.replace('.','') >= kupon_item.harga_minimum) && (kupon_item.kode.includes(query.toString()))) {
                                HTML += '<div class="coupon-list coupon-modal coupon-list-mini" onclick= "useKupon(' + kupon_item.id + ',' + kupon_item.persen_diskon + ')">';
                                HTML += '<img src="'+ kupon_item.gambar +'" class="coupon-list-image"/>';
                                HTML += '<div class="coupon-list-description">';
                                HTML += '<div class="coupon-list-title"><span id="couponNameId' + kupon_item.id + '">'+ kupon_item.nama_kupon +'</span></div>';
                                HTML += '<div class="coupon-list-title"><span class="p-color">' + kupon_item.jenis_kupon + '</span></div>';
                                HTML += '<div class="coupon-list-smalldesc"><div class="coupon-desc">' + kupon_item.sk_singkat_kupon;
                                HTML += '</div></div></div></div>'
                                sum += 1;
                            }
                            $('#coupon-container').append(HTML);
                        }
                        if (sum == 0){
                            HTML = '';
                            HTML += '<div class="coupon-not-found">Sorry, cannot find coupon with code <b>"'+ query +'"</b>. Please try another code.</div>';
                            $('#coupon-container').append(HTML);
                        }
                    }
                }
            }
        }
    };
    xhttp.open("GET", "api/v1/searchcoupon", true);
    xhttp.send();
}

function setPayment(paymentId){
    paymentSelected = true;
    document.getElementById('checkoutButton').style.opacity = '100%'
    if(paymentId==1){
        document.getElementById('paymentMethod').value = 'Bank Transfer';

    }else if(paymentId==2){
        document.getElementById('paymentMethod').value = 'E-Wallet';
    }else if(paymentId==3){
        document.getElementById('paymentMethod').value='Credit Card';
    }

    var paymentSelect = document.getElementsByClassName('payment-selection');
    for(x = 0 ; x < paymentSelect.length ; x++){
        if(x+1 != paymentId){
            paymentSelect[x].style.backgroundColor = 'white';
        }else{
            paymentSelect[x].style.backgroundColor = '#FFBA00';
        }
    }
}

var checkoutButton = document.getElementById('checkoutButton');

checkoutButton.addEventListener('click', function(){
    if(paymentSelected){
        $('.modal-image').hide();
        $('#loaderGIF').show();
        $('#processingModal').modal('toggle');

        let nextURL = "";

        $.ajax({
            type: "POST",
            url: "/checkout/process",
            data: $('#checkoutForm').serialize(),
            success: function (response) {
                $('#loaderGIF').hide();

                if(response.success) {
                    $('#successIcon').show();
                    nextURL = "/checkout/complete/" + response.transaksi_id;
                    msg = "Your transaction is completed";
                } else {
                    $('#failIcon').show();
                    nextURL = "/cart/";
                    msg = "Your transaction is failed. You will be redirected to your cart";
                }
                $('#processingModalTitle').html(msg);
                $('#processingFooter').append(
                    $('<button/>').addClass('btn btn-secondary').html('Proceed').attr('id', "processButton")
                );
                $('#processButton').on('click', () => {
                    window.location.replace(nextURL);
                })
            }
        });
    }
})
</script>

{% endblock %}