{% extends 'template/base.html' %}
{% load static %}

{% block content %}
{% include 'template/navbarwithsearch.html' %}
<div class="container mb-4">
    <div class="checkout-done-hero">
        <img src="{% static 'checkout-done.png' %}" alt="" class="checkout-done-hero-logo">
        <h2 class="checkout-done-hero-text">Thankyou for ordering in Trolee</h2>
        <a href="/">
            <button type="button" class="checkout-done-buy">
                order again
            </button>
        </a>
    </div>
    <div class="checkout-done-detail">
        <h4 class="checkout-subtitle">Your <span class="p-color">Order</span></h4>
        {% for item in item_list %}
        <div class="checkout-item checkout-done-item">
            <img src="{{ item.barang.link_foto }}" class="checkout-item-image">
            <div class="order-desc">
                <div class="checkout-item-description">
                    <div class="checkout-item-title">{{item.barang.nama}}</div>
                    <div class="checkout-item-price">Rp. {{item.barang.harga}}</div>
                </div>
                <div class="checkout-item-description qty-desc">
                    <div class="checkout-item-qty">x {{ item.jumlah }}</div>
                </div>
            </div>
            <div class="checkout-item-description qty-desc">
                <div class="checkout-item-total">
                    Rp. {{ item.total }}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="bill-detail">
            <table class="bill-table bill-table-done">
                <tr>
                    <td>Order Total</td>
                    <td>{{ordertotal}}</td>
                </tr>
                <tr>
                    <td>Coupon Discount</td>
                    <td>{{totaldiskon}}</td>
                </tr>
                <tr>
                    <td><b>Total Payment</b></td>
                    <td><b>{{totaltransaksi}}</b></td>
                </tr>
                <tr>
                    <td>Payment Method</td>
                    <td>{{paymentmethod}}</td>
                </tr>
            </table>
        </div>
        <h4 class="checkout-subtitle"><span class="p-color">Order</span> Information</h4>
        <table class="bill-table order-information-done">
            <tr>
                <td>Name</td>
                <td>{{user.first_name}}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}