{% extends 'template/base.html' %}
{% load static %}
{% block title %} Sales History {% endblock %}
{% block content %}
{% include 'template/navbarwithsearch.html' %}
{% include 'template/navphone.html' %}
<div class="transaction-section">
    <div class="transaction-view-section">
        <h4 class="transaction-subtitle">Sales History</h4>
        {% for transaction in transaksi %}
        <a href="{% url 'checkout:checkoutcomplete' transaction.id %}">
            <div class="transaction-list">
                <div class="history-left-container">
                    <h2>Orders</h2>
                    {% for item in transaction.items %}
                        <div class="history-item">
                            <img src="{{ item.barang.link_foto }}" class="checkout-item-image">
                            <div class="order-desc">
                                <div class="checkout-item-description">
                                    <div class="checkout-item-title">{{item.barang.nama}}</div>
                                    <div class="checkout-item-price">Rp. {{item.barang.harga}}</div>
                                </div>
                                <div class="checkout-item-description qty-desc">
                                    <div class="checkout-item-qty">x {{ item.jumlah }}</div>
                                </div>
                            </div>
                            <div class="checkout-item-description qty-desc">
                                <div class="checkout-item-total">
                                    Rp. {{ item.total }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="transaction-list-description">
                    <div class="transaction-list-content">
                        <div class="transaction-list-title">
                            {{transaction.barang.nama}}
                        </div>
                        <br>
                        <div class="transaction-desc">
                            <table>
                                <tr>
                                    <td>Dibeli oleh :</td>
                                    <td style="padding-left: 10px;">{{transaction.user.first_name}}</td>
                                </tr>
                                <tr>
                                    <td>Pada tanggal :</td>
                                    <td style="padding-left: 10px;">{{transaction.tanggal_beli|date:'d-M-Y'}}</td>
                                </tr>
                                <tr>
                                    <td>Metode pembayaran :</td>
                                    <td style="padding-left: 10px;">{{transaction.payment_method}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="transaction-list-price">
                        <span>Paid : </span>Rp {{transaction.total_transaksi}}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}