{% extends 'template/base.html' %}
{% load static %}
{% block title %} Trolee - Tempat Belanja ATK Terlengkap dan Termurah di Indonesia {% endblock %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
{% endblock %}

{% block content %}
{% include 'template/navbarwithsearch.html' %}

<div class="landingpage-product-section">
    {% if search_filter == True %}
    <h1 class="search-title">Ditemukan {{barang|length}} barang dengan nama "{{q}}"</h1>
    {% endif %}
    {% if category_filter == True %}
    <div class="category-filter-section">
        Filter: 
        <div class="category-filter">
        {{category}}
        </div>
    </div>
    {% endif %}
    <div class="landingpage-product-block">
        {% for item in barang %}
        <a href="/detail/{{item.id}}" class="landingpage-product-a">
            <div class="landingpage-product-item">
                <div class="landingpage-product-image">
                    <img src="{{ item.link_foto }}" class="product-image" alt="">
                </div>
                <h2 class="landingpage-product-title">{{item.nama}}</h2>
                <h4 class="landingpage-product-price">Rp. {{item.harga}}</h4>
                <div class="landingpage-product-bintang">
                    {% for i in item.bintang %}
                    <span class="bintang-filled">
                        <i class="fas fa-star"></i>
                    </span>
                    {% endfor %}
                    {% for i in item.bintang_empty %}
                    <span class="bintang-empty">
                        <i class="fas fa-star"></i>
                    </span>
                    {% endfor %}
                    <span>({{item.ulasan_count}})</span>
                </div>
            </div>    
        </a>
        {% endfor %}
    </div>
</div>
{% include 'template/footer.html' %}
{% endblock %}