{% extends 'template/base.html' %}
{% load static %}
{% block title %} Trolee - Tempat Belanja ATK Terlengkap dan Termurah di Indonesia {% endblock %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
{% endblock %}

{% block content %}
{% include 'template/navbarwithsearch.html' %}
<div class="landingpage-category-section">
    <div class="landingpage-category-section-l">
        <h1 class="landingpage-subtitle">Category</h1>
        <div class="landingpage-category-block">
            <div class="landingpage-category-row">
                <a href="/?category=stationary-set">
                    <div class="landingpage-category-item">
                        <img src="{% static 'category-stationary.png' %}" class="landingpage-category-icon" alt="">
                        Stationary Set
                    </div>
                </a>
                <a href="/?category=books">
                    <div class="landingpage-category-item">
                        <img src="{% static 'category-book.png' %}" class="landingpage-category-icon" alt="">
                        Books
                    </div>
                </a>
                <a href="/?category=eraser">
                    <div class="landingpage-category-item">
                        <img src="{% static 'category-eraser.png' %}" class="landingpage-category-icon" alt="">
                        Eraser
                    </div>
                </a>
                <a href="/?category=pencil-case">
                    <div class="landingpage-category-item">
                        <img src="{% static 'category-pencil-case.png' %}" class="landingpage-category-icon" alt="">
                        Pencil Case
                    </div>
                </a>
                <a href="/?category=tools">
                    <div class="landingpage-category-item">
                        <img src="{% static 'category-puncher.png' %}" class="landingpage-category-icon" alt="">
                        Tools
                    </div>
                </a>
                <a href="/?category=tape">
                    <div class="landingpage-category-item">
                        <img src="{% static 'category-tape.png' %}" class="landingpage-category-icon" alt="">
                        Tape
                    </div>
                </a>
                </div>
        </div>
    </div>
    <div class="landingpage-category-section-r">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="landingpage-coupon">
                    <img src="{% static 'discount-logo.png' %}" alt="" class="coupon-logo">
                    <div class="landingpage-coupon-desc">
                        <div class="landingpage-coupon-title">
                            Akhir Bulan Ditraktir Trolee
                        </div>
                        <div class="landingpage-coupon-subtitle">
                            Potongan Hingga 75%<br>
                            Belanja paling murah memang di Trolee
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="landingpage-coupon">
                    <img src="{% static 'discount-logo.png' %}" alt="" class="coupon-logo">
                    <div class="landingpage-coupon-desc">
                        <div class="landingpage-coupon-title">
                            DISKON WABAH COVID
                        </div>
                        <div class="landingpage-coupon-subtitle">
                            Harga Cuci Gudang mulai dari 1000 rupiah
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="landingpage-coupon">
                    <img src="{% static 'discount-logo.png' %}" alt="" class="coupon-logo">
                    <div class="landingpage-coupon-desc">
                        <div class="landingpage-coupon-title">
                            Belanja Selama WFH Jadi Mudah
                        </div>
                        <div class="landingpage-coupon-subtitle">
                            Semua kebutuhan WFH tersedia di Trolee.<br>
                            WFH gak masalah
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        
        <a href="/coupon">
            <div class="landingpage-button">
                Cek Kupon Kamu
            </div>
        </a>
    </div>
</div>

<div class="landingpage-product-section">
    <h1 class="landingpage-subtitle">Featured <span class="p-color">Items</span></h1>
    <div class="landingpage-product-block">
        {% for item in barang %}
        <a href="/detail/{{item.id}}" class="landingpage-product-a">
            <div class="landingpage-product-item">
                <div class="landingpage-product-image">
                    <img src="{{ item.link_foto }}" class="product-image" alt="">
                </div>
                <h2 class="landingpage-product-title">{{item.nama}}</h2>
                <h4 class="landingpage-product-price">Rp. {{item.harga}}</h4>
                <div class="landingpage-product-bintang">
                    {% for i in item.bintang %}
                    <span class="bintang-filled">
                        <i class="fas fa-star"></i>
                    </span>
                    {% endfor %}
                    {% for i in item.bintang_empty %}
                    <span class="bintang-empty">
                        <i class="fas fa-star"></i>
                    </span>
                    {% endfor %}
                    <span class="landingpage-product-ulasancount">({{item.ulasan_count}})</span>
                </div>
            </div>    
        </a>
        {% endfor %}
    </div>
</div>
{% include 'template/footer.html' %}
{% endblock %}