{% extends 'template/base.html' %}
{% load static %}
{% block title %} Coupon {% endblock %}
{% block content %}
{% include 'template/navbarwithsearch.html' %}
{% include 'template/navphone.html' %}
<div class="coupon-section">
    <div class="coupon-select-section">
        <h4 class="coupon-subtitle">Available <span class="p-color">Coupon</span></h4>
        {% for kupon_item in kupon %}
            <div class="coupon-list coupon-modal" data-toggle="modal" data-target="#kupon{{kupon_item.id}}">
                <img src="{{kupon_item.gambar}}" class="coupon-list-image"/>
                <div class="coupon-list-description">
                    <div class="coupon-list-title">
                        {{kupon_item.nama_kupon}}
                    </div>
                    <div class="coupon-list-title">
                        <span class="p-color">{{kupon_item.jenis_kupon}}</span>
                    </div>
                    <div class="coupon-list-smalldesc">
                        <div class="coupon-desc">
                            {{kupon_item.sk_singkat_kupon}}
                        </div>
                    </div>
                </div>
            </div>
        <!-- Modal -->
        <div class="modal fade" id="kupon{{kupon_item.id}}" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{kupon_item.nama_kupon}} <span class="p-color">({{kupon_item.jenis_kupon}})</span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <img src="{{kupon_item.gambar}}" class="coupon-list-image"/>
                    <br>
                    {{kupon_item.sk_kupon}}
                    <div class="coupon-code">
                        Code : {{kupon_item.kode}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}