{% extends 'template/base.html' %}
{% load static %}
{% block head %} 
<link rel="stylesheet" href="{% static 'css/user_login.css' %}"> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
{% endblock %}
{% block title %}Login ke akunmu - Trolee Indonesia{% endblock %}

{% block content %}
{% include 'template/navbarwithsearch.html' %}
{% include 'template/navphone.html' %}
  <div class="login-section">
      <div class="form-section">
        <div class="login-form-inner" id="loginForm">
          <h1 class="login-header">Log in to your account</h1>
          <h2 class="login-subheader">Enjoy easy shopping with account</h2>
          <div class="error-message"></div>
          <div class="success-message"></div>
          <div class="label-group">
              <h4 class="input-label">Email Address</h4>
              <input class="input" type="text" name="email" placeholder="example@trolee.com" required>
          </div>
          <div class="label-group">
              <h4 class="input-label">Password</h4>
              <input class="input" type="password" name="password" placeholder="Type your password" required>
          </div>
          <button class="login-button" id="signIn">
            <div class="login-button-inner">
              Log In
            </div>
            <div class="spinner-border hide" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
          <div class="google-login-section">
              <div class="google-login-section-title">Or login with Google Account</div>
              <div class="g-signin2" data-onsuccess="onSignIn"></div>
          </div>
          
          <button class="login-button create-account-button" id="createAccountButton">Create an account</button>
        </div>
        <div class="login-form-inner hide" id="signUpForm">
          <h1 class="login-header">Create new account</h1>
          <div class="error-message"></div>
          <div class="success-message"></div>
          <div class="label-group">
              <h4 class="input-label">Username</h4>
              <input class="input" type="text" name="s_username" placeholder="" required>
          </div>
          <div class="label-group">
              <h4 class="input-label">Name</h4>
              <input class="input" type="text" name="s_name" placeholder="" required>
          </div>
          <div class="label-group">
              <h4 class="input-label">Email Address</h4>
              <input class="input" type="text" name="s_email" placeholder="example@trolee.com" required>
          </div>
          <div class="label-group">
              <h4 class="input-label">Password</h4>
              <input class="input" type="password" name="s_password" placeholder="Type your password" required>
          </div>
          <button class="login-button" id="signUp">
            <div class="login-button-inner">
              Sign Up
            </div>
            <div class="spinner-border hide" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
          <button class="login-button create-account-button" id="loginButton">Already have account? Login</button>
        </div>
      </div>
      <div class="content-section">
          <img src="{% static 'login.jpg' %}" class="login-content-image">
      </div>
  </div>
  <script>
    $('#createAccountButton').on('click', function(){
      $('#loginForm').addClass('hide');
      $('#signUpForm').removeClass('hide');
    })

    $('#loginButton').on('click', function(){
      $('#loginForm').removeClass('hide');
      $('#signUpForm').addClass('hide');
    })

    $('#signIn').on('click', function(){
      var button = this;
      $.ajax({
        type: 'POST',
        url: '/api/v1/auth/login/',
        data: JSON.stringify({
            'email' : $('input[name="email"]').val(),
            'password' : $('input[name="password"]').val()
        }),
        contentType: 'application/json',
        beforeSend: function(jqXHR, settings){
            $(button).children('div.login-button-inner').addClass('hide');
            $(button).children('div.spinner-border').removeClass('hide');

            // Hide any message
            $('.error-message').css('display', 'none');
            $('.success-message').css('display', 'none');
        },
        complete: function(jqXHR, textStatus){
          $(button).children('div.login-button-inner').removeClass('hide');
          $(button).children('div.spinner-border').addClass('hide');
        },
        success: function(data, textStatus, jqXHR){
            if (data.status == 200){
                window.location.replace("{{next_url}}");
            }else{
                $('.error-message').html(data.message);
                $('.error-message').css('display', 'inline-block');
            }
        }
     })
    })

    $('#signUp').on('click', function(){
      var button = this;
      $.ajax({
        type: 'POST',
        url: '/api/v1/auth/signup/',
        data: JSON.stringify({
            'username' : $('input[name="s_username"]').val(),
            'name': $('input[name="s_name"]').val(),
            'email': $('input[name="s_email"]').val(),
            'password' : $('input[name="s_password"]').val()
        }),
        contentType: 'application/json',
        beforeSend: function(jqXHR, settings){
            $(button).children('div.login-button-inner').addClass('hide');
            $(button).children('div.spinner-border').removeClass('hide');

            // Hide any message
            $('.error-message').css('display', 'none');
            $('.success-message').css('display', 'none');
        },
        complete: function(jqXHR, textStatus){
          $(button).children('div.login-button-inner').removeClass('hide');
          $(button).children('div.spinner-border').addClass('hide');
        },
        success: function(data, textStatus, jqXHR){
            if (data.status == 200){
                $('.success-message').html(data.message);
                $('.success-message').css('display', 'inline-block');
            }else{
                $('.error-message').html(data.message);
                $('.error-message').css('display', 'inline-block');
            }
        }
    })
    })

    function onSignIn(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;
      $.ajax({
        type: 'POST',
        url: '/api/v1/auth/g_login/',
        data: JSON.stringify({
            'token': id_token
        }),
        contentType: 'application/json',
        success: function(data, textStatus, jqXHR){
            if (data.status == 200){
                window.location.replace("{{next_url}}");
            }else{
                $('.error-message').html(data.message);
                $('.error-message').css('display', 'inline-block');
            }
        }
    })
    }

    $('input').keypress(function (e) {
      if (e.which == 13) {
          if($('#loginForm').hasClass('hide')){
              $('#signUp').click()
          }else if ($('#signUpForm').hasClass('hide')){
              $('#signIn').click()
          }
          return false;    // Same as prevent default
      }
  });
  </script>


{% endblock %}