{% load static %}
<nav class="navbar">
    <a href="/"><img src="{% static 'logo.png' %}" class="logo"></a>
    <form class="form-search" action="/" method="get">
        <input type="text" class="search-input" placeholder="Search" name="q">
        <input type="submit" style="display:none">
        <img src="{% static 'search.png' %}" class="search-logo" onClick="javascript:this.parentNode.submit()">
    </form>
    <div class="navbar-right-menu">
        <a href="/transaction" class="transaction-a">
            <div class="transaction-navbar">
                <img src="{% static 'history-logo.png' %}" class="history-logo"> 
                <h4 class="history-text">Histori<br>Pembelian</h4>
            </div>
        </a>
        {% if user.is_authenticated %}
        <div class="user-button">
            <div class="user-header">
                <img src="{% static 'default_avatar.png' %}" class="user-menu-avatar">
                {{user.first_name}}
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="user-menu collapse">
                <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i> Cart</a>
                <a onclick="signOut()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                <div class="google-sign-in-hide">
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </div>
            </div>
        </div>
        {% else %}
        <a href="/auth/">
            <button class="nav-login-button">
                Login
            </button>
        </a>
        {% endif %}
    </div>
</nav>
<script>
    $(document).ready(function(){
        $('.user-button').on('click', function(){
            if($('.user-menu').hasClass('collapse')){
                $('.user-menu').removeClass('collapse');
            }else{
                $('.user-menu').addClass('collapse');
            }
        });

        
    })

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          window.location.replace("/auth/logout/");
        });
      }
    
</script>