/* Style pengatur utama */
.container {
    padding-top: 10vh;
    padding:4em;
}

.container h1 {
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
}

/* Ngatur gambar di bagian header */
.gambar-barang {
    height: 400px;
    width: 400px;
    box-sizing: border-box;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 10px;
    padding:40px;
    display:flex;
}

.gambar-barang img{
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.tambah-ulasan{
    font-weight: 600;
    font-size: 23px;
}
.ulasan-input{
    width:30vw;
    background-color: rgba(255,186,0,0.2);
    margin-top:15px;
    margin-bottom:15px;
    border:0px;
    padding:15px;
    border-radius:10px;
}
.star-block{
    display:flex;
    justify-content: end;
    flex-direction: row;
    margin-top:5px;
    margin-bottom:15px;
}

.star-select{
    cursor: pointer;
}
.ulasan-form{
    width:30vw;
}
.button-ulasan{
    margin-left: auto   ;
}
@media (max-width:992px) {
    .gambar-barang {
        width:50vw;
    }
}


/* Ngatur tulisan penjelasan sesuai barang di header */
.rincian-barang {
    text-align: justify;
}

.rincian-barang button {
    border-radius: 10px;
}

.rincian-data {
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    color: black;
    padding-left: 50px;
}

.rincian-data .data {
    color: #ffba00;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    padding-right: 2vw;
}

.buyNowBtn {
    width:9em;
    height: 3em;
    font-weight: bold;
    box-shadow: 0 3px 7px rgba(100,100,100,.5);
}

/* Ngatur bagian ulasan */
.box-ulasan {
    font-size:1vw;
    height: max-content;
    width: 400px;
    background-color: rgba(255, 186, 0, 0.11);
    border-radius: 19px;
    padding: 15px 25px;
    margin:2em;
}

.box-ulasan h4 {
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
}

.box-ulasan p {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}

/* Ngatur box yang tambah ulasan */
.box-tambah-ulasan-nama {
    width: 40vw;
    height: 8vh;
    padding: 15px 15px;
    border-radius: 19px;
    background-color: rgba(255, 186, 0, 0.11);
    margin-bottom: 1vh;
}

.box-tambah-ulasan {
    width: 40vw;
    height: 20vh;
    padding: 15px 25px;
    border-radius: 19px;
    background-color: rgba(255, 186, 0, 0.11);
}

.box-tambah-ulasan-nama p {
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    color: #c4c4c4;
}

.box-tambah-ulasan p {
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    color: #c4c4c4;
}
.star-row{
    display: flex;
    flex-direction: row;
}
.deskripsi-barang{
    white-space: pre-line;
}
.detailpage-product-name{
    font-size: 28px;
}
.detailpage-product-harga{
    font-size: 24px;
}

/* Form */
@media only screen and (max-width:500px){
    .container{
        padding:1em;
    }
    .gambar-barang{
        width: 90vw;;
    }
    .box-ulasan h4{
        font-size: 6em;
    }
    .star-block{
        font-size: 5vw;;
    }
    .ulasan-input{
        width: 80vw;
    }
    .gambar-barang img{
        width: auto;
        height:100%;
        max-height: none;
        max-width: none;
    }
    .detailpage-product-name{
        font-size: 2zefont-size: 28px;5px!important;
    }
    .detailpage-product-harga{
        font-size: 24px;
    }
    .gambar-barang{
        width: 90vw;
        height:300px;;
    }
    .detailpage-product-harga{
        margin-top:1zefont-size: 28px;0px;
        margin-bottom:20px;
        .detailpage-product-harga{
            font-size: 24px;
        }
        font-size: 20px!important;
    }
    .rincian-data{
        font-size: 18px!important;
    }
    .data{
        font-size: 18px!important;
    }
    .tambah-ulasan{
        font-size: 18px;;
    }
    .star-block{
        width:max-content;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .star-description{
        word-wrap: normal;
        width:45vw;;
    }
}