@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
html{
    font-family: 'Poppins';
}
h1,h2,h3,h4, h5, h6, small,tr,td, button, input, span, div{
    font-family: 'Poppins';
}

body{
    margin:0px;
}
a{
    text-decoration: none!important;
    color:black;
}
a:hover{
    text-decoration: none!important;
    color:black;
}
.navbar{
    display:flex;
    flex-direction: row;
    width:auto;
    padding-left:6vw;
    padding-right:6vw;
    padding-top:25px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height:90px;
    position: relative;
    flex-wrap: nowrap;
}

.navbar-plain{
    justify-content: flex-start;
}

.logo{
    width:8vw;
}

.search-input{
    width:40vw;
    border-radius:20px;
    height:35px;
    border-style:solid;
    padding:8px;
    color:gray;
    padding-left:10px;
    padding-right:30px;

}

.coupon-search-input{
    width:450px;
    border-radius:20px;
    height:35px;
    border-style:solid;
    padding:8px;
    color:gray;
    padding-left:10px;
    padding-right:30px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.search-logo{
    position: absolute;
    right:15px;
    top:50%;
    transform: translateY(-50%);
    width:16px;
    cursor: pointer;
}
.form-search{
    display: inline-block;
    position: relative;
}
.transaction-navbar{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.history-text{
    margin:0px;
    color:black;
    font-weight: 700;
    font-size:18px;
}
.history-left-container {
    display:flex;
    flex-direction: column;
}
.history-logo{
    height:30px;
    margin-right: 10px;
}
.transaction-section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.transaction-view-section{
    display:flex;
    flex-direction: column;
    padding:40px;
}

h4.transaction-subtitle{
    font-size:35px;
    margin:5px;
    font-weight: 600;
    margin-top:15px;
    margin-bottom: 15px;
}

.transaction-list{
    border: 1px solid rgba(0, 0, 0, 0.212);
    box-sizing: border-box;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    padding:10px;
    padding-left:40px;
    padding-right: 40px;
    width: 75vw;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.212);
    margin-bottom:30px;
}

.transaction-list-price{
    font-size:22px;
    font-weight: 600;
}

.transaction-list-price span {
    color: #FFAA04;
}

.transaction-list-title{
    font-size:22px;
    font-weight: 700;
}

.transaction-list-image{
    max-width:100px;
    max-height:90px;
    margin: 15px;
}

.transaction-list-smalldesc{
    margin-top: 10px;
    bottom: 0px;
}

.transaction-desc{
    box-sizing: border-box;
    display:flex;
    font-size:16px;
}

.transaction-list-description{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top:20px;
}

.transaction-list:hover{
    background-color: rgba(0, 0, 0, 0.040);
}

.coupon-section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.coupon-select-section{
    display:flex;
    flex-direction: column;
    padding:40px;
}

h4.coupon-subtitle{
    font-size:35px;
    margin:5px;
    font-weight: 600;
    margin-top:15px;
    margin-bottom: 15px;
}

.coupon-list{
    border: 1px solid rgba(0, 0, 0, 0.212);
    box-sizing: border-box;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    padding:10px;
    padding-left:40px;
    padding-right: 40px;
    width: 45vw;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.212);
    margin-bottom:30px;
}

.coupon-list-title{
    font-size:22px;
    font-weight: 700;
}

.coupon-list-image{
    width:150px;
    height:90px;
    margin: 15px;
}

.coupon-list-smalldesc{
    margin-top: 10px;
    bottom: 0px;
}

.coupon-desc{
    font-size:9px;
}

.coupon-list-description{
    margin-top:15px;
}

.coupon-modal{
    cursor: pointer;
}

.coupon-modal:hover{
    background-color: rgba(0, 0, 0, 0.040);
}

.coupon-category-search-block{
    display:flex;
    flex-direction:row;
}

.coupon-category-select{
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    background-color:white;
    margin:15px;
    margin-top:10px;
    margin-bottom:10px;
    border: 1px black solid;
    padding:0px;
    padding-left:5px;
    padding-right:35px;
    align-items: center;
    font-size:15px;
    font-family: 'Poppins';
    font-weight: 300;
    width:200px;    
    cursor: pointer;
}

.coupon-category-select:hover{
    background-color: rgba(0, 0, 0, 0.040);
}

.new-coupon-category {
    background-color:rgba(255, 163, 58, 0.63);
    border: 2px rgb(255, 196, 0) solid;
}

.coupon-not-found {
    font-size: 18px;
    font-weight: 450;
    padding : 5px;
}

.coupon-code {
    font-weight: 600;
}

.transaction-section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.transaction-view-section{
    display:flex;
    flex-direction: column;
    padding:40px;
}

h4.transaction-subtitle{
    font-size:35px;
    margin:5px;
    font-weight: 600;
    margin-top:15px;
    margin-bottom: 15px;
}

.transaction-list{
    border: 1px solid rgba(0, 0, 0, 0.212);
    box-sizing: border-box;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    padding:10px;
    padding-left:40px;
    padding-right: 40px;
    width: 75vw;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.212);
    margin-bottom:30px;
}

.transaction-list-price{
    padding : 40px;
    font-size:22px;
    font-weight: 600;
}

.transaction-list-title{
    font-size:22px;
    font-weight: 700;
}

.transaction-list-image{
    max-width:100px;
    max-height:90px;
    margin: 15px;
}

.transaction-list-smalldesc{
    margin-top: 10px;
    bottom: 0px;
}

.transaction-desc{
    box-sizing: border-box;
    display:flex;
    font-size:16px;
}

.transaction-list-description{
    display:flex;
    flex-direction: column;
    width : 100%;
    justify-content: space-between;
    margin-top:15px;
    margin-left:30px;
}

.transaction-list:hover{
    background-color: rgba(0, 0, 0, 0.040);
}

.checkout-section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout-section-order{
    display:flex;
    flex-direction: column;
    padding:40px;
}
.checkout-section-payment{
    display:flex;
    flex-direction: column;
    background-color:#FAFAFA;
    box-shadow: -5px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px 0px 30px;
    margin-top:20px;
    padding:40px;
    width: 30vw;
}

.p-color{
    color:#FFBA00;
}

h4.checkout-subtitle{
    font-size:30px;
    margin:5px;
    font-weight: 600;
    margin-top:15px;
}

.payment-selection{
    border-radius:10px;
    border: 3px solid #FFBA00;
    display:flex;
    flex-direction: row;
    align-content: center;
    padding:5px;
    margin-top:15px;
    margin-bottom:15px;
    cursor: pointer;
}
.payment-logo{
    margin:5px;
    height: 35px;
}
.payment-desc{
    margin:5px;
    margin-left:15px;
    font-weight: 600;
    align-self: center;
    font-size: 22px;
}
.checkout-item{
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 17px;
    display:flex;
    flex-direction: row;
    padding:10px;
    padding-left:40px;
    padding-right: 40px;
    width:60vw;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    margin-bottom:30px;
}
.checkout-item-title{
    font-size:22px;
    font-weight: 700;
}
.checkout-item-image{
    height:90px;
    margin:20px
}
.checkout-item-price{
    font-size:20px;
}
.checkout-item-total{
    font-size:20px;
    padding-left: 20px;
}
.checkout-item-description{
    margin-top:20px;
}
.checkout-item-additional-description{
    margin-left: 20vw;
}
.checkout-item-qty{
    font-size: 20px;
}
.checkout-form-label{
    font-weight: 500;
    margin:20px;
    font-size: 18px;;
}
.checkout-form{
    width:20vw;
    padding:8px;
    border-radius:10px;
    border-style:solid;
    font-family: 'Poppins';
    font-size:15px;
}
.checkout-coupon{
    border-style:solid;
    border-color:#FFBA00;
    display:flex;
    flex-direction: row;
    padding:10px;
    border-radius:15px;
    border-width: 5px;
    height:100px;
    align-items: center;
    position: relative;
}
.checkout-coupon-add{
    margin:20px;
    cursor: pointer;
}
.checkout-coupon-added{
    width: 80px;
    height: 50px;
}
.order-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:60%;
}
.bill-detail{
    margin-top:30px;
    margin-bottom:30px;

}
.bill-table tr td{
    padding:5px;
    font-size: 20px;
    font-weight: 600;
}
.bill-table tr td:last-child{
    text-align: right;
    padding-left:40px;
}
.checkout-button{
    background-color:#FFBA00;
    display: flex;
    flex-direction: row;
    border-radius:15px;
    position: relative;
    cursor: pointer;
    opacity: 20%;
}
.checkout-button-logo{
    background-color:#FFAA04;
    text-align: center;
    display: block;
    border-radius:15px;
    padding:10px
}
.checkout-button-text{
    text-align: center;
    color:white;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    width: 100%;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
}
.checkout-title-coupon{
    font-size:25px!important;
}
.checkout-done-hero{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width:25vw;
    align-items: center;
    margin-top:50px;
}
.checkout-done-hero-logo{
    width:50%;
    height: 100%;
    margin-right:50px;
}
.checkout-done-hero-text{
    text-align: center;
    font-weight: 700;
}
.checkout-done-buy{
    border-radius: 30px;
    background-color:#FFBA00;
    border-width: 0px;
    font-size: 15px;
    font-weight: 600;
    padding:15px;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 20px;
    margin-top:10px;
}

.checkout-done-item{
    width: 60%;
}
.history-item {
    box-sizing: border-box;
    border-radius: 17px;
    display:flex;
    flex-direction: row;
    padding:10px;
    padding-left: 10px;
    padding-right: 10px;
    width:550px;
}
.qty-desc {
    padding-top: 10px;
}
.bill-table-done tr td:last-child{
    padding-left:20vw;
}
.order-information-done tr td:last-child{
    padding-left:15vw;
}

.landingpage-category-section{
    display:flex;
    flex-direction: row;
    margin:50px;
    margin-left:100px;
    margin-right:100px;
}

.landingpage-category-section-l{
    display:flex;
    flex-direction:column
}
.landingpage-category-section-r{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.landingpage-category-block{
    display:flex;
    flex-direction:row;
}
.landingpage-category-row{
    display:flex;
    flex-direction: column;
    margin:5px;
}
.landingpage-category-item{
    border-radius:50px;
    display:flex;
    flex-direction: row;
    background-color:white;
    margin:15px;
    margin-top:10px;
    margin-bottom:10px;
    border: 1px black solid;
    padding:0px;
    padding-left:15px;
    padding-right:75px;
    align-items: center;
    font-size:15px;
    font-family: 'Poppins';
    font-weight: 500;
    width:250px;    
}
.landingpage-category-item:hover{
    background-color:rgb(246, 246, 246);
}
.landingpage-category-icon{
    margin-top:8px;
    margin-bottom:13px;
    margin-left:10px;
    margin-right:10px;
    width:30px;
}
.landingpage-subtitle{
    font-weight: 700;
    font-size: 24px;
}
.landingpage-coupon{
    background-color:white;
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.landingpage-button{
    background-color:#FFBA00;
    color:white;
    border-radius:25px;
    padding:40px;
    padding-top:8px;
    padding-bottom:8px;
    margin:30px;
    font-size:20px;
    font-weight: 700;
    font-family: 'Poppins';
    width: max-content;
}
.landingpage-coupon{
    border-radius:20px;
    box-shadow: 10px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    padding:30px;
}
.landingpage-coupon-desc{
    display: flex;
    flex-direction: column;
    color:#FFAA04;
    font-size:28px;
    font-weight: 700;
    font-family: 'Poppins';
}
.landingpage-coupon-title{
    color:black;
    font-weight: 600;
    font-size:20px;
    font-family: 'Poppins';
}
.coupon-logo{
    margin:20px;
    margin-top:10px;
    margin-bottom:10px;
}

.landingpage-product-section{
    margin:50px;
    margin-left:100px;
    margin-right:100px;
    min-height: 60vh;;
}
.landingpage-product-block{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.landingpage-product-item{
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    border-radius: 16px;
    padding:20px;
    display:flex;
    flex-direction: column;
    width:240px;
    font-size: 15px;
}
.landingpage-product-a{
    margin:20px;
}
.landingpage-product-title{
    font-weight: 500;
    font-size: 15px;
    font-family: 'Poppins';
    margin-bottom:5px;
    overflow: hidden;
}
.landingpage-product-price{
    margin-top:5px;
    font-weight: 700;
    font-size: 18px;;
    font-family: 'Poppins';
    color: #FFAA04;
}
.product-image{
    border-radius:20px;
    margin-bottom:20px;
    max-height: 230px;
    height: auto;
    width: 100%;
    margin:auto;
}
.footer-bar{
    width: 100%;
    padding-left:2%;
    padding-right: 2%;;
    padding-top:2%;
    padding-bottom:5px;
    background-color: #FFAA04;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-text-copyright{
    margin-top:40px;
    font-weight: 600;;
    font-family: 'Poppins';
}
.footer-text-office{
    text-align: right;
    color:black;
    font-weight: 600;
    font-family: 'Poppins';

}
.coupon-list-mini{
    width: 100%;
    padding:10px!important;
}
.category-filter-section{
    font-size:18px;
    font-weight: 600;
    font-family: 'Poppins';
}
.category-filter{
    display:inline-block;
    padding:5px;
    padding-left:20px;
    padding-right: 20px;
    border-radius:30px;
    margin:5px;
    margin-left:8px;
    margin-right:8px;
    border: 1px gray solid;
}
.search-title{
    font-size:24px;
    font-weight: 600;
    font-family: 'Poppins';
}
.coupon-remove-button{
    position: absolute;
    right:15px;
    top:10px;
    cursor: pointer;
    display:none
}
.modal-image{
    display: block;
    margin: auto;
    height: 30vh;
}
.landingpage-product-image{
    text-align:center;
    height:250px;
    display:flex;
}
.star-description{
    margin-right: 20px;
}
.navphone {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    box-shadow: 0 3px 7px rgba(100,100,100,.5);
    border-radius: 55px;
    width: 300px;
    height: 45px;
    position: fixed;
    bottom:30px;
    left:50%;
    transform: translateX(-50%);
    display:none!important;
    z-index:999;
}

.navphone img {
    margin: 3px 15px;
}
.container-navphone{
    padding:0px!important;
}

.navbar-right-menu{
    display:flex;
    flex-direction: row;
    height:40px;
}

.user-button{
    padding:10px;
    margin-left:20px;
    margin-right:10px;
    border-radius:10px;
    width: max-content;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background-color: white;
    color: #FFAA04;
    font-weight: 700;
    border: 2px solid #FFAA04;
    height: max-content;

}

.user-menu{
    position: relative;
    background-color: white;
    top: 0px;
    left: 0px;
    width: auto;
    font-size: 14px;
    color:gray;
    font-weight: 600;
    display:flex;
    flex-direction: column;
    max-height:200px;
    transition: all 0.5s;
    overflow:hidden;
    margin-top:20px;
}

.user-menu.collapse{
    margin-top:0px;
    max-height:0px;
    display:flex!important;
}

.user-menu a{
    margin-top:10px;
    margin-bottom:10px;
    cursor: pointer;
    color:black;
}

.user-menu a svg{
    font-size: 18px;
    margin-left:0px;    
}

.user-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.user-button svg{
    margin-left:20px;
    font-size: 26px;
}

.user-menu-avatar{
    height:30px;
    width: auto;
    margin-right: 5px;
}

.google-sign-in-hide{
    display:none;
}

.nav-login-button{
    background-color: #FFAA04;
    color:white;
    font-weight: 700;
    padding:20px;
    padding-top:8px;
    padding-bottom:8px;
    border:0px;
    margin:5px;
    border-radius: 10px;;
    margin-left:40px;
    margin-right:5px;
}

.landingpage-product-bintang{
    display:flex;
    flex-direction: row;
}

.bintang-filled{
    color: #ffba00;
}
.bintang-empty{
    color: lightgray;
}

.landingpage-product-ulasancount{
    margin-left:5px;
}


@media only screen and (max-width:500px){
    .navphone{
        display:flex!important;
    }

    .transaction-a{
        display:none;
    }
    .navbar{
        flex-direction: column;
        justify-content: center;
        height: max-content;;
    }
    .logo{
        width:30vw;
    }
    .search-input{
        width:80vw;
        border-radius:10px;
        margin-top:8px;
    }
    .landingpage-category-section{
        margin:20px;
        margin-top:40px;
    }
    .landingpage-category-block{
        flex-direction: column;
    }
    .landingpage-category-section{
        flex-direction: column-reverse;
    }
    .landingpage-coupon{
        width:90vw;
    }
    .landingpage-product-section{
        margin-left:20px;

        margin-right:20px;
    }
    .landingpage-product-a{
        margin:5px;
    }
    .landingpage-product-item{
        width:40vw;
    }
    .landingpage-product-image{
        height:150px;
    }
    .product-image{
        max-height: 150px;;
    }

    .coupon-list{
        flex-direction: row;
        width: auto;
    }
    
    .coupon-list-image{
        width: 100%;
    }

    .coupon-search-input{
        width:80vw;
    }
    .history-item {
        font-size:16px;
        width:90vw;
    }
    .checkout-section{
        flex-direction: column;
    }
    .checkout-section-order{
        padding:20px;
    }
    .checkout-item{
        width:90vw;
        padding:5px;
    }
    .checkout-item-title{
        font-size: 23px;
    }
    .checkout-item-price{
        font-size: 15px;
    }
    .checkout-form{
        width:50vw;
    }
    .checkout-section-payment{
        background-color:white;
        box-shadow: none;
    }
    .checkout-section-payment{
        width:auto;
    }
    .order-desc{
        width: 35%;
    }
    .payment-box{
        display:flex;
        flex-direction: row;;
    }
    .payment-selection{
        flex-direction: column;
        width: 25vw;
        margin: 5px;
    }
    .payment-logo{
        width:auto;
        height: auto;
    }
    .payment-desc{
        font-size: 15px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .checkout-done-hero-logo{
        width:auto;
        height: auto;
    }
    .checkout-done-hero{
        width: 90vw;;
    }
    .gambar-barang{
        padding:50px
    }
    .coupon-logo{
        width: 20vw;
    }
    .form-search{
        margin-top: 10px;
    }
    .landingpage-product-title{
        font-size: 16px;
    }
    .landingpage-product-price{
        font-size: 14px;
    }

    .coupon-list-image{
        width:100px;
        height: 50px;
    }
    .transaction-view-section{
        padding:15px;
    }
    .transaction-list{
        padding:5px;
        width: auto;
        flex-direction: column;
    }
    .coupon-select-section{
        padding:10px;
    }
    .coupon-category-select{ 
        padding-left:0px;
        padding-right:10px;    
        font-size:12px;
        width:150px;   
    }
    .coupon-list{
        padding:5px;
    }
    .transaction-desc{
        font-size: 13px;
    }
}

