.login-section{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
}
.form-section{
    display:flex;
    flex-direction: column;
    width:40%;
    padding:50px;
}

.login-form-inner{
    display: flex;
    flex-direction: column;
}

.content-section{
    display: flex;
    flex-direction: column;
    width:60%;
}

.login-content-image{
    height: auto;
    width: 90%;
}

.login-header{
    font-size: 36px;
    font-weight: 700;
}

.login-subheader{
    color:gray;
    font-size: 16px;
    font-weight: 400;
    margin-bottom:30px
}

.label-group{
    display:flex;
    flex-direction: column;
    margin-top:15px;
    margin-bottom:15px;
}

.input-label{
    font-weight: 600;
    font-size: 16px;
    color:gray;
    transition:all 0.15s;
}

.label-group:focus-within .input-label{
    color:black;
}

.input{
    border-radius:5px;
    padding:10px;
    border-style: solid;
    font-size: 14px;
    border-color:gray;
    transition:all 0.15s;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.input:focus{
    border-color: #ffba00
}

.login-button{
    color:white;
    background-color: #ffba00;
    padding:8px;
    border-radius: 10px;
    border-width: 0px;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.15s;
    margin-top:10px;
    margin-bottom:10px;
    height: 50px;
}

.login-button:hover{
    background-color: #ff9d00;
}

.google-login-section{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:15px;
}

.google-login-section-title{
    color:gray;
    margin-right: 30px;
}

.create-account-button{
    border-color: #ff9d00;
    border-width: 2px;
    color: #ff9d00;
    background-color: white;;
    border-style: solid;
}

.create-account-button:hover{
    color:white;
}

.login-form-inner{
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: all 0.15s;
    width: 35%
}

.login-form-inner.hide{
    visibility: hidden;
    opacity: 0;
}

.login-button .hide{
    display:none;
}

.error-message{
    color:red;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    background-color: rgb(255, 234, 234);
    border: 2px solid red;
    font-weight: 600;
    display: none;
}

.success-message{
    color:green;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    background-color: rgb(249, 255, 249);
    border: 2px solid green;
    font-weight: 600;
    display: none;
}